<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzb.myblog.mapper.CategoryMapper" >    
  <select id="selectAll" resultType="Category" >
    select * from category
  </select>
  <select id="selectById" resultType="Category" parameterType="int" >
    select * from category
    where id = #{id}
  </select>
  <delete id="delete" parameterType="int" >
    delete from category
    where id = #{id}
  </delete>  
  <insert id="insert" parameterType="Category" >
    insert into category (name)
    values (#{name})
  </insert>
  <insert id="insertSelective" parameterType="Category" >
    insert into category 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="Category" >
    update category
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="update" parameterType="Category" >
    update category
    set name = #{name}
    where id = #{id}
  </update>
</mapper>